@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primaria: #f6f7fc;
    --color-secundaria: #000000;
    --color-terciaria: #0A3871;
    --color-hover: #272727;

    --fuente-inter: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
}

html{
    max-width: 1440px;
    scroll-behavior: smooth;
}

body{
    background: var(--Light-blue-light-blue-100, #9bd4f5);
    background-image: url("./media/background-2.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--fuente-inter);
    margin: 0;
}

header .container{
    width: 32px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 24px;
    margin-left: 16px;
    gap: 0px;
    opacity: 0px;
}


.entrada__texto{
   
    margin-top: 320px;
    margin-left: 40px;
    width: 430px;
    align-self: stretch;
    background-color: var(--color-hover);
    border-color: #000000;
    border-radius: 12px;
    padding: 10px;
                
    color: var(--color-primaria);
    font-family: var(--fuente-inter);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
}

.validacion__texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    margin-left: 15px;
    gap: 2px;
}

.parrafo__validacion{
    color: var(--Gray-gray-400, #495057);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;   
}

.imagen_validacion{
    margin-left: 15px;
    width: 16px;
    height: 16px;
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    padding: 24px 24px;  
    gap: 24px;
}

.boton-encriptar{
    color: var(--White, #FFF);
    background-color:var(--color-terciaria);
    text-align: center;
    font-family: var(--fuente-inter);
    padding: 24px;
    align-items: flex-start;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 24px;
    text-decoration: none;
}

.boton-desencriptar{
    color: var(--White, #FFF);
    background-color:var(--color-terciaria);
    text-align: center;
    font-family: var(--fuente-inter);
    padding: 24px;
    align-items: flex-start;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 24px;
    text-decoration: none;
}

.boton-encriptar:hover{
    background-color: var(--color-primaria);
    color: var(--color-terciaria);
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
}

.boton-desencriptar:hover{
    background-color: var(--color-primaria);
    color: var(--color-terciaria);
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
}

.div-2 #card{
    display: flex;
    flex-direction: column;
    width: 523px;
    height: auto; 
    
    padding: 32px;
    align-items: center;
    gap: 32px;
    
    border-radius: 32px;
    background-color: transparent;
    /*background: var(--White, #FFF);*/
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);    
    
    margin-top: 0px;
    margin-left: 24px;
    margin-bottom: 8px;   

}

#image{
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;     
}

#parrafos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#idParrafo-1{
    display: block;
    margin: 0 auto;
    width: 263px;
    height: 58px;
    gap: 0px;
    opacity: 0px;

    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;      
}

#idParrafo-2{
    display: block;
    margin: 0 auto;
    width: 263px;
    height: 58px;
    color: var(--Gray-gray-400, #495057);
    
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

#textoResultado{
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    padding: 10px;
    background-color: var(--color-hover);
    color: var(--color-primaria);
    font-family: var(--fuente-inter);
    font-size: 22px;
    font-style: normal;
   
}

 
.div-2 .boton__copiar{
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 232px;
    padding: 16px 16px;  
    gap: 8px;
}

.boton__copiar{
    color: var(--White, #FFF);
    background-color:var(--color-terciaria);
    text-align: center;
    font-family: var(--fuente-inter);
    padding: 24px;
    align-items: center;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 24px;
    text-decoration: none;
}

.boton__copiar:hover{
    background-color: var(--color-primaria);
    color: var(--color-terciaria);
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    padding: 12px;
    margin: 0;
    color: rgb(100, 100, 100);

}

footer .container{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media para table */
@media (min-width: 768px){
    header{
        /*position: fixed;*/
        width: 100%;
    }

    .entrada__texto{
        align-self: stretch;
        margin-top: 480px;
        margin-left: 40px;
        width: 530px;
        gap: 0px;
        opacity: 0px;
    }

    .presentacion__enlaces{
        display: flex;
        flex-direction: row;
        padding: 24px 24px;  
        gap: 24px;
    }

    .boton-encriptar{
        width: 332px;
        height: auto;
        padding: 24px;
                
    }

    .boton-desencriptar{
        width: 332px;
        height: auto;
        padding: 24px;
                
    }

    .div-2 #card{
        display: flex;
        width: 688px;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }


    .img-container{
        display: flex;
        flex-direction: column;
        justify-items: center;    
    }


    .boton__copiar{
        justify-items: center;
        align-items: center;
    }

    
    footer .container{
        justify-content: flex-end;
    }
} 



@media (min-width: 1200px){
    .contenedor{
        display: flex;
        flex-direction: row;     
    }
       
    .div-2 #card{
        width: auto;
        height: auto;
        background-color: transparent;
        background-clip: border-box;
        margin-top: 5px;
        margin-left: 250px;
        gap: 10px;
    
    }
    
    /*.div-2 .img-container{
        background-image: url("media/Muñeco.png");
        background-position:center center;
        background-repeat: no-repeat;
        width: 336px;             
    }*/
    
    .boton__copiar{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }



    footer .container{
        width: 100%;
        justify-content: flex-end;
    }

}